body {
    min-height: 100vh;
    overflow: hidden;
}

.layout-container {
    display: flex;
    height: 100vh;
}

.layout-content {
    flex-grow: 1; /* Контент займет оставшееся место */
    overflow-y: auto;
}

.layout-sidebar {
    width: 219px;
    left: 0;
    top: 0;
    z-index: 1050;
    flex-shrink: 0;
}

.layout-sidebar.collapsed {
    transform: translateX(-100%);
}

.toggle-sidebar-btn {
    position: fixed;
    top: calc(50% - 23px);
    left: 15px;
    z-index: 1100;
    border-radius: 5px;
    display: none;
}


hr {
    margin-bottom: 20px;
    border-top: 1px solid #d9d9d9;
}

.layout-nav-item {
    padding: 12px 0 12px 16px;
    width: 178px;
    height: 40px;
    margin: 0 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-link {
    display: flex;
    gap: 10px;
    color: #052c65;
    font-size: 14px;
    line-height: 16px;
}

.layout-nav-item svg path {
    fill: #052C65;
    transition: fill 0.3s ease-in-out;
}

.layout-nav-item:hover,
.layout-nav-item.active {
    color: #FFFFFF;
    background-color: #0D6EFD;
}

.layout-nav-item:hover svg path,
.layout-nav-item.active svg path {
    fill: #FFFFFF;
}

.layout-nav-item:hover > .nav-link,
.layout-nav-item.active > .nav-link {
    color: #FFFFFF;
}

.layout-nav-toggle {
    text-decoration: none;
}

.dropdown-menu {
    border-radius: 5px;
    width: 178px;
    padding: 12px 16px;
}

ul.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    margin: 0;
}

.layout-balance {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #052C65;
    margin-left: 20px;
}

.layout-balance span {
    color: #0D6EFD;
}


.layout-profile-wrap {
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.layout-profile-toggle {
    margin-left: 20px;
    gap: 16px;
    font-size: 14px;
    line-height: 24px;
    color: #052C65;
    transition: all 0.3s ease-in-out;
}

p.nav-link {
    margin-bottom: 0;
}

/*.layout-nav-toggle:hover,*/
/*.layout-nav-toggle:active {*/
/*    color: #FFFFFF;*/
/*    background-color: #0D6EFD;*/
/*    width: 178px;*/
/*    height: 40px;*/
/*    border-radius: 5px;*/
/*}*/

@media (max-width: 768px) {
    .toggle-sidebar-btn {
        display: block;
    }

    .layout-sidebar {
        transform: translateX(-219px);
        width: 219px;
    }

    .layout-sidebar.expanded {
        transform: translateX(0);
    }
}
