
<section class="edit-expenses">
    <div class="main-container">
        <h1 class="main-title">
            Редактирование категории расходов
        </h1>
        <div class="category-form-content input-wrapper">
            <input type="text" class="input-common" placeholder="Название...">
            <div class="input-actions">
                <button class="btn btn-success btn-sm">Сохранить</button>
                <button class="btn btn-danger btn-sm">Отмена</button>
            </div>
        </div>
    </div>
</section>
