<section class="income-expense-table">
    <div class="main-container">
        <h1 class="main-title">
            Доходы и расходы
        </h1>
        <div class="transaction-actions">
            <button class="btn btn-sm btn-success" id="createIncomeTableBtn">Создать доход</button>
            <button class="btn btn-sm btn-danger" id="createExpenseTableBtn">Создать расход</button>
        </div>

        <div class="main-actions d-flex flex-wrap gap-2 mb-5">
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="today">
                Сегодня
            </button>
            <button class="main-button btn btn-outline-secondary btn-sm filter-btn" data-range="week">Неделя</button>
            <button class="main-button btn btn-outline-secondary btn-sm filter-btn" data-range="month">Месяц</button>
            <button class="main-button btn btn-outline-secondary btn-sm filter-btn" data-range="year">Год</button>
            <button class="main-button btn btn-outline-secondary btn-sm filter-btn" data-range="all">Все</button>
            <button class="main-button btn btn-outline-secondary btn-sm filter-btn" data-range="custom">Интервал
            </button>
            <div class="main-dates align-items-center gap-1" id="interval-inputs">
                с
                <input type="date" class="form-control form-control-sm" id="date-from" placeholder="Дата">
                по
                <input type="date" class="form-control form-control-sm" id="date-to" placeholder="Дата"></div>

        </div>

        <div class="transaction-table">
            <table class="table table-hover" id="operations-table">
                <thead>
                <tr>
                    <th scope="col" data-column="id" style="cursor: pointer">№ операции</th>
                    <th scope="col" data-column="type" style="cursor: pointer">Тип</th>
                    <th scope="col" data-column="category" style="cursor: pointer">Категория</th>
                    <th scope="col" data-column="amount" style="cursor: pointer">Сумма</th>
                    <th scope="col" data-column="date" style="cursor: pointer">Дата</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="overlay" id="overlay">
    <div class="popup">
        <p class="popup-text">
            Вы действительно хотите удалить операцию?
        </p>
        <div class="popup-actions">
            <button class="btn btn-success btn-sm" id="approvePopupButton">Да, удалить</button>
            <button class="btn btn-danger btn-sm" id="cancelPopupButton">Не удалять</button>
        </div>
    </div>
</div>
