<section class="income-outcome-form">
    <div class="main-container">
        <h1 class="main-title" id="form-title"></h1>
        <form class="income-outcome-form" id="income-outcome-form">
            <div class="form-group">
                <select id="type" name="type">
                    <option value="" disabled selected>Тип</option>
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>
            </div>

            <div class="form-group">
                <select id="category" name="category" required>

                </select>
            </div>
            <div class="form-group">
                <input type="number" id="amount" name="amount" required placeholder="Сумма"/>
            </div>

            <div class="form-group">
                <input type="date" id="date" name="date" required placeholder="Дата"/>
            </div>

            <div class="form-group">
                <input type="text" id="comment" name="comment" placeholder="Комментарий">

            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-success btn-sm" id="submitBtn">Создать</button>
                <button type="button" class="btn btn-danger btn-sm" id="cancelBtn">Отмена</button>
            </div>
        </form>
    </div>
</section>
