<div class="wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <section class="login">
        <div class="text-center big-logo"><img src="/images/logo-big.png" alt="Логотип"></div>
        <h1 class="main-title text-center mb-2">Вход</h1>

        <form class="login-form d-grid mx-auto" id="loginForm">

            <div class="input-group mb-2">
                <span class="input-group-text"><img src="/icons/mail.png" alt="Конверт"></span>
                <input type="email" id="email" class="form-control" placeholder="Электронная почта" required>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text"><img src="/icons/lock.png" alt="Замок"></span>
                <input type="password" id="password" class="form-control" placeholder="Пароль" required>
            </div>


            <div class="mb-4 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMeCheck">
                <label class="form-check-label" for="rememberMeCheck">Запомнить меня</label>
            </div>

            <button type="button" class="btn btn-primary mb-2">Войти</button>
        </form>

        <div class="action-link"> Еще нет аккаунта? <a href="/signup" class="link-primary">Пройдите регистрацию</a></div>
    </section>
</div>

