<section class="main">
    <div class="main-container">
        <h1 class="main-title mb-5">
            Главная
        </h1>

        <div class="main-actions d-flex flex-wrap gap-2 mb-5">
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="today">
                Сегодня
            </button>
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="week">Неделя</button>
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="month">Месяц</button>
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="year">Год</button>
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="all">Все</button>
            <button class="main-button btn btn-outline-secondary btn-sm" data-range="custom">Интервал
            </button>
            <div class="main-dates align-items-center gap-1" id="interval-inputs">
                с
                <input type="date" class="form-control form-control-sm" id="date-from" placeholder="Дата">
                по
                <input type="date" class="form-control form-control-sm" id="date-to" placeholder="Дата"></div>

        </div>

        <div class="main-diagrams-wrapper row">
            <div class="income-diagram diagram-block col-12 col-md-6 d-flex flex-column justify-content-center align-items-center border-end border-light">
                <h2 class="title-small ">Доходы</h2>
                <canvas id="incomeChart"></canvas>
            </div>

            <div class="expenses-diagram diagram-block col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h2 class="title-small">Расходы</h2>
                <canvas id="expensesChart"></canvas>
            </div>
        </div>
    </div>
</section>



