<div class="wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
<section class="signup">
    <div class="text-center big-logo"><img src="/images/logo-big.png" alt="Логотип"></div>
    <h1 class="main-title text-center mb-2">Создайте аккаунт</h1>

    <form class="signup-form d-grid mx-auto" id="signUpForm">

        <div class="input-group mb-2">
            <span class="input-group-text"><img src="/icons/person.png" alt="Человек"></span>
            <input type="text" id="userInfo" class="form-control" placeholder="ФИО" required>
        </div>

        <div class="input-group mb-2">
            <span class="input-group-text"><img src="/icons/mail.png" alt="Конверт"></span>
            <input type="email" id="email" class="form-control" placeholder="Электронная почта" required>
        </div>

        <div class="input-group mb-2">
            <span class="input-group-text"><img src="/icons/lock.png" alt="Замок"></span>
            <input type="password" id="password" class="form-control" placeholder="Пароль" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text"><img src="/icons/lock.png" alt="Замок"></span>
            <input type="password" id="passwordRepeat" class="form-control" placeholder="Подтверждение пароля" required>
        </div>

        <button type="button" class="btn btn-primary mb-2">Зарегестрироваться</button>
    </form>

    <div class="action-link"> Уже есть аккаунт? <a href="/login" class="link-primary">Войдите в систему</a></div>
</section>
</div>

